<div li-block="Description" {{ block.shopify_attributes }}>
                    
                    
                    <div class="product-header_description">
                      <h2 class="heading-style-h3">
{{ block.settings.text_heading }}
</h2>
                      <h2 li-object:text="product.shopify--flavor" class="heading-style-h3">
{{ product.shopify--flavor }}
</h2>
                      <div li-object="product.description" class="text-rich-text max-width-large w-richtext">{{ product.description }}</div>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Description",
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Description"
        }
    ],
    "presets": [
        {
            "name": "Description",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}