<div li-block="saveurs" {{ block.shopify_attributes }}>
                    
                    
                    <h2 li-object="product.metafields.shopify--flavor.value" class="heading-style-h3">{{ product.metafields.shopify--flavor.value }}</h2>
                    
                  
                </div> {% schema %} {
    "name": "saveurs",
    "settings": [],
    "presets": [
        {
            "name": "saveurs",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}