<div li-block="saveurs" {{ block.shopify_attributes }}>
                    
{% assign flavors = product.metafields.shopify.flavor.value %}

{% if flavors != blank %}
  <div class="saveurs-items">
    {% for f in flavors %}
      <span class="saveur">
        {{ f.label | default: f }}
      </span>
    {% endfor %}
  </div>
{% endif %}
                    
                  
                </div> {% schema %} {
    "name": "saveurs",
    "settings": [],
    "presets": [
        {
            "name": "saveurs",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}