<div li-block="saveurs" {{ block.shopify_attributes }}>
                    
                    
                    <h2 li-object:text="product.shopify--saveur" class="heading-style-h3">
{{ product.title }}
</h2>
                    
                  
                </div> {% schema %} {
    "name": "saveurs",
    "settings": [],
    "presets": [
        {
            "name": "saveurs",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}