<div li-block="saveurs" {{ block.shopify_attributes }}>
                    
                    {% if product.metafields.shopify.flavor.value %}
  <div class="saveurs-items">
    <span
      class="saveur"
      li-for="f in product.metafields.shopify.flavor.value"
      li-object="f"></span>
  </div>
{% endif %}
                    
                  
                </div> {% schema %} {
    "name": "saveurs",
    "settings": [],
    "presets": [
        {
            "name": "saveurs",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}