<div li-block="saveurs" {{ block.shopify_attributes }}>
                    
                    
                    {% if product.metafields.shopify.flavor.value %}    <div li-if="product.metafields.shopify.flavor.value">
    
                      {% for f in product.metafields.shopify.flavor.value %}    <h2 li-for="f in product.metafields.shopify.flavor.value" class="heading-style-h3">
                                    Saveurs
                        </h2>
{% endfor %}
                        </div>
{% endif %}
                    
                  
                </div> {% schema %} {
    "name": "saveurs",
    "settings": [],
    "presets": [
        {
            "name": "saveurs",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}